*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* parent class*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0b0b36;
}
/* child div*/
#quote{
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}
/* button*/
#btn{
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}
/* hover effect on button */
#btn:hover{
    background-color: #51b654;
}